<div class="tt-table-container">
    This is the table page
    <div class="tt-current-hand-container">
        This is the current hand container
        <div class="tt-green-table">
            This is the green
            <div class="tt-card" 
                 ng-repeat="card in cards"
                 ng-style="{'background-position': card.backgroundPosition}">
                <div ng-bind="card.y"></div>
                <div ng-bind="card.x"></div>

            </div>

        </div>

    </div>
    <div class="tt-player-hand-container">
        This is the player hand container
    </div>

</div>