{% comment %} This is a base/master page. It's the template used for the main layout, and contains whatever is common to
any pages. For example, the main navbar, footer, etc. {% endcomment %} {% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thirteen</title>

    <base href="/">

    <link href="{% static 'styles/libraries.css' %}" rel="stylesheet" />
    <link href="{% static 'styles/style.css' %}" rel="stylesheet" />
</head>

<body ng-app="ttMainApp">
    <h3>thirteen base layout</h3>
    <button class="btn btn-default" 
            ui-sref="lobby">Lobby</button>
    <button class="btn btn-default" 
            ui-sref="table({id: '12345'})">Join a random table</button>
    <hr />

    <!--{% block content %}{% endblock %}-->

    <ui-view></ui-view>

    <!-- 3rd party library scripts -->
    <script src="{% static 'scripts/libraries/jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/libraries/bootstrap.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/libraries/angular.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/libraries/angular-ui-router.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/libraries/ui-bootstrap-tpls.js' %}" type="text/javascript"></script>

    <!-- custom app scripts -->
    <script src="{% static 'scripts/tt-main.js' %}" type="text/javascript"></script>
</body>

</html>